.bouton_precedent{
text-align: left;
}

.image_droite{
margin-right:20%; 
height:50vh;
}
.bouton_suivant{
text-align: right;
}

.sous_titre{
font-size: 18pt;
font-weight:bold; 
}

.corps_contenu_sans_images{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:83%%
}

.corps_contenu{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:41%
}

.corps_contenu_1col{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:83%
}

.corps_contenu_droite{
position : absolute; 
margin-right:5%;
text-align: right;
vertical-align: top;
width:41%
}
  
.menu_text{
    font-size: 12pt;
    font-weight:bold;  
    text-align: left; 
    vertical-align: top;
    width:15%;
  }

a{
text-decoration:none; 
color: black;      
}  