/**********************************************************************************************************/
/*Mise en page des logos et du titre du site*/

a{
text-decoration:none; 
color: black;      
}

.titre_div{
border-bottom-width:2px;
   border-bottom-color: black;
   border-bottom-style: solid;
width:100%;
height:10vw;
display: table;
}

.logos_div_gauche
{
float:left;
width:50%;
text-align: left;
height:10vw;
}

.titre_div_droite
{
font-size:2vw;
font-weight: bold;
margin-left:50%;
left:50%;
width:50%;
text-align: right;
}

.logos_img
{
    max-height: 75%;
} 


/**********************************************************************************************************/
/*Mise en page du div contenant le menu et le contenu du cours*/

.corps_site_div{
position:absolute;
width:100%;
}

/**********************************************************************************************************/

/*Style du menu à gauche de la page*/

.menu_div_cadre{
float:left;
width:15%;
}

/*Style du div intermédiaire pour l'actualisation du menu à gauche*/
.menu_div_cadre_act{
float:left;
width:15%;

}

ul.menu_div_element {
list-style-type: none;
margin: 0;
padding: 0;
width: 100%;
background-color: #f1f1f1;
}

li.menu_div_element{
margin: 0;
padding-top: 5px;
padding-bottom: 5px;
width: 100%;
background-color: #f1f1f1;
vertical-align:middle;
}


/* Change the link color on hover */
li.menu_div_element:hover {
background-color: #ccc;
}

li.menu_div_element a:hover {
background-color: #ccc;
}

.menu_p_element{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
/**********************************************************************************************************/

/*Mise en page du div contenant le cours*/

.contenu_cours_div_cadre{
margin-left:18%;
width:82%;
vertical-align: top;
}


/**********************************************************************************************************/

/*Style des boutons Précédent et Suivant*/

.bouton_precedent{
text-align: left;
width:41.5%;
}

.bouton_suivant{
text-align: right;
width:41.5%;
}

/**********************************************************************************************************/

/*Style du sous-titre S1.1, S1.2 etc.*/
.sous_titre{
font-size: 18pt;
font-weight:bold;
padding-top:10px;
padding-bottom:10px;
}

/**********************************************************************************************************/

.image_droite{
margin-right:20%; 
height:100%;
}




.corps_contenu_sans_images{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:83%%
}

.corps_contenu{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:41%
}

.corps_contenu_1col{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:83%
}

.corps_contenu_1col_fin{
font-size: 24pt;
font-weight:bold;
line-height: 1.5;
text-align: center; 
vertical-align: middle;
width:83%
}

.corps_contenu_droite{
position : absolute; 
margin-right:5%;
text-align: right;
vertical-align: top;
width:41%
}
  
/**********************************************************************************************************/

/*Mise en page du div contenant le pied de page*/

.pied_page_div_cadre{
clear:both;
width:100%;
text-align:center;
}

/**********************************************************************************************************/

   