.bouton_precedent{
text-align: left;
width:41.5%;
}

.image_droite{
margin-right:20%; 
height:100%;
}
.bouton_suivant{
text-align: right;
width:41.5%;
}

.sous_titre{
font-size: 18pt;
font-weight:bold; 
}

.corps_contenu_sans_images{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:83%%
}

.corps_contenu{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:41%
}

.corps_contenu_1col{
font-size: 14pt;
line-height: 1.5;
vertical-align: top;
width:83%
}

.corps_contenu_1col_fin{
font-size: 24pt;
font-weight:bold;
line-height: 1.5;
text-align: center; 
vertical-align: middle;
width:83%
}

.corps_contenu_droite{
position : absolute; 
margin-right:5%;
text-align: right;
vertical-align: top;
width:41%
}
  
.menu_text{
    font-size: 12pt;
    font-weight:bold;  
    text-align: left; 
    vertical-align: top;
    width:15%;
  }

a{
text-decoration:none; 
color: black;      
}

.titre_div{
border-bottom-width:2px;
   border-bottom-color: black;
   border-bottom-style: solid;
width:100%;
height:10vw;
display: table;
}

.logos_div_gauche
{
float:left;
width:50%;
text-align: left;
height:10vw;
}

.titre_div_droite
{
font-size:2vw;
font-weight: bold;
margin-left:50%;
left:50%;
width:50%;
text-align: right;
}

.logos_img
{
    max-height: 75%;
}    